:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
  --light-color: #ffffff;
  --hover-color: #2196f3;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
}

h1,
h2,
h3,
ul,
li,
p,
a,
img,
div,
button,
svg {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.link {
  list-style: none;
  text-decoration: none;
}

.container {
  min-width: 320px;
  padding: 0 15px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: 2px solid tomato;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    display: flex;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.section {
  margin-top: 60px;
}
@media screen and (min-width: 1600px) {
  .section {
    margin-top: 94px;
  }
}

body {
  margin: 0;
  font-family: var(--main-font), var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.03px;
  color: var(--accent-color);
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__text {
  font-weight: 700;
  line-height: 1.87em;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}
.button__icon::after {
  content: " ";
  display: inline-block;
  background-size: contain;
  margin: -6px 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/send.svg);
  fill: var(--light-color);
}

.icon-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.icon-list__item {
  width: 44px;
  height: 44px;
  padding: 12px;
}
.icon-list__item:not(:last-child) {
  margin-right: 10px;
}
.icon-list__item:hover {
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.icon-list__item:hover .icon-list__icon {
  fill: var(--light-color);
  transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.header__section {
  display: flex;
  align-items: center;
}
.header__burger-button {
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__burger-button {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .header__burger-button {
    min-width: 320px;
  }
}
.header__burger-icon {
  width: 55px;
  height: 40px;
}
@media screen and (min-width: 1600px) {
  .header__burger-icon {
    margin: 10px auto;
    width: 40px;
    height: 40px;
  }
}
.header .header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .header-contacts {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .header .header-contacts {
    display: flex;
    margin: 32px auto;
  }
}
@media screen and (min-width: 1600px) {
  .header .header-contacts__item:first-child {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .header .header-contacts__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.02px;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1600px) {
  .header .header-contacts__mail {
    margin-right: 30px;
    font-size: 14px;
    line-height: 1.14em;
  }
}
@media screen and (min-width: 768px) {
  .header .header-contacts__mail-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1600px) {
  .header .header-contacts__mail-icon {
    width: 16px;
    height: 12px;
  }
}
@media screen and (min-width: 768px) {
  .header .header-contacts__tel {
    width: 123px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.02px;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1600px) {
  .header .header-contacts__tel {
    width: 142px;
    font-size: 14px;
    line-height: 1.14em;
  }
}
@media screen and (min-width: 768px) {
  .header .header-contacts__tel-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    margin-left: -14px;
  }
}
@media screen and (min-width: 1600px) {
  .header .header-contacts__tel-icon {
    width: 10px;
    height: 16px;
  }
}
.header .header-contacts__item:hover .header .header-contacts__mail, .header .header-contacts__item .header .header-contacts__mail:focus {
  color: var(--hover-color);
}
.header .header-contacts__item:hover .header .header-contacts__mail-icon {
  fill: var(--hover-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-contacts__item:hover .header .header-contacts__tel, .header .header-contacts__item .header .header-contacts__tel:focus {
  color: var(--hover-color);
}
.header .header-contacts__item:hover .header .header-contacts__tel-icon {
  fill: var(--hover-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  font-family: var(--secondary-font);
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    margin-top: 24px;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 1.19em;
  }
}
.logo--light {
  color: var(--light-color);
}
.logo--black {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 93px;
    margin-right: 93px;
  }
}
@media screen and (min-width: 1600px) {
  .navigation {
    margin-top: 32px;
    margin-left: 93px;
    margin-right: 305px;
  }
}
.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
@media screen and (min-width: 1600px) {
  .navigation__list {
    padding: 0;
    height: 48px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list-item {
    position: relative;
  }
  .navigation__list-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02px;
    color: var(--accent-color);
  }
}
.navigation__list-page:hover, .navigation__list-page:focus {
  color: var(--hover-color);
}
.navigation__list-page:hover::before, .navigation__list-page:focus::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.hero {
  min-width: 320px;
  outline: 2px solid tomato;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    width: 1600px;
    margin: 0 auto;
  }
}
.hero__section {
  background-size: cover;
  padding: 118px 60px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/index/hero-mobile.jpg");
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/index/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    padding: 118px 204px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/index/hero-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/index/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1600px) {
  .hero__section {
    padding: 200px 452px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/index/hero-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), (min-resolution: 192dpi) and (min-width: 1600px), (min-resolution: 2dppx) and (min-width: 1600px) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/index/hero-desktop@2x.jpg");
  }
}
.hero__caption {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
@media screen and (min-width: 1600px) {
  .hero__caption {
    font-size: 44px;
    line-height: 1.36em;
  }
}
.hero__button {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0;
    margin-bottom: -30px;
  }
}
.benefits-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .benefits-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 0 15px 0;
  }
}
@media screen and (min-width: 1600px) {
  .benefits-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.benefits-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.benefits-list__title {
  margin: 30px 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}
.benefits-list__text {
  font-size: 14px;
  line-height: 1.71em;
  text-align: left;
  color: var(--secondary-color);
}
.benefits-list__icon-section {
  background-color: var(--button-color);
  height: 120px;
  border-radius: 4px;
}
.benefits-list__icon {
  margin: 25px auto;
  width: 70px;
  height: 70px;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  .benefits-list__icon {
    margin: 25px 190px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__icon {
    margin: 25px 142px;
  }
}
@media screen and (min-width: 1600px) {
  .benefits-list__icon {
    margin: 25px 100px;
  }
}

.job {
  display: none;
}
@media screen and (min-width: 1600px) {
  .job {
    display: flex;
  }
}
.job__caption {
  margin-bottom: 50px;
}

.job-list {
  display: flex;
}
.job-list__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--accent-color);
}
.job-list__item:not(:last-child) {
  margin-right: 30px;
}
.job-list__image {
  position: relative;
}
.job-list__overlay {
  position: absolute;
  padding: 27px 82px;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.job-list__overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
}

.command {
  min-width: 320px;
  background-color: var(--button-color);
}
@media screen and (min-width: 480px) {
  .command {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .command {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .command {
    width: 1600px;
    margin: 94px auto;
  }
}

.command-section {
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .command-section {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .command-section {
    padding: 94px 15px;
  }
}
.command-section__caption {
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18em;
  color: var(--accent-color);
}
@media screen and (min-width: 1600px) {
  .command-section__caption {
    font-size: 36px;
    line-height: 1.17em;
  }
}

.command-list {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -30px -30px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1600px) {
  .command-list {
    padding: 0;
    flex-wrap: nowrap;
    margin: 50px -15px 0;
  }
}
.command-list__item {
  margin-bottom: 30px;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .command-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 0 15px 30px;
  }
}
@media screen and (min-width: 1600px) {
  .command-list__item {
    margin-bottom: 0;
  }
}
.command-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  color: var(--accent-color);
  margin: 30px auto 10px;
}
.command-list__text {
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  color: var(--secondary-color);
  background-color: #ffffff;
  margin: 0 auto;
}
.command-list__icon-list {
  justify-content: center;
  margin: 16px auto 0;
  padding-bottom: 24px;
}
@media screen and (min-width: 1600px) {
  .command-list__icon-list {
    padding-bottom: 30px;
  }
}

.costomers {
  display: block;
}
.costomers__caption {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18em;
  text-align: center;
  color: var(--accent-color);
}
@media screen and (min-width: 1600px) {
  .costomers__caption {
    font-size: 36px;
    line-height: 1.17em;
  }
}

.costomers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media screen and (min-width: 768px) {
  .costomers-list {
    margin: 0 -15px;
  }
}
@media screen and (min-width: 1600px) {
  .costomers-list {
    flex-wrap: nowrap;
  }
}
.costomers-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin: 30px 14px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .costomers-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1600px) {
  .costomers-list__item {
    width: 170px;
    height: 92px;
    margin-top: 50px;
  }
}
.costomers-list__item:hover {
  border-color: var(--hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costomers-list__item:hover .costomers-list__icon {
  fill: var(--hover-color);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costomers-list__icon {
  width: 106px;
  height: 60px;
  margin: 16px auto;
  fill: #afb1b8;
}
@media screen and (min-width: 480px) {
  .costomers-list__icon {
    margin: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .costomers-list__icon {
    margin: 16px 60px;
  }
}
@media screen and (min-width: 1600px) {
  .costomers-list__icon {
    margin: 16px 32px;
  }
}

.footer {
  min-width: 320px;
  background-color: var(--footer-color);
}
@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .footer {
    width: 1200px;
    margin: 60px auto 0;
  }
}
.footer__container {
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .footer__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__action-container {
    display: flex;
  }
}
.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 1600px) {
  .footer__logo {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-section {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-section {
    margin-left: 0;
  }
}

.footer-adress {
  width: 232px;
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  .footer-adress {
    text-align: left;
  }
}
.footer-adress__text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress__text:first-child {
  color: var(--light-color);
}
.footer-adress__text:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1600px) {
  .footer-adress__text:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-action {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-action {
    margin-top: 5px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-action {
    margin: 15px 93px 0 70px;
  }
}
.footer-action__icon-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-action__icon-item:hover {
  background-color: var(--hover-color);
}
.footer-action__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
@media screen and (min-width: 1600px) {
  .footer-action__text {
    margin-bottom: 20px;
    text-align: left;
  }
}

.footer-subscription {
  margin-top: 60px;
}
@media screen and (min-width: 1600px) {
  .footer-subscription {
    margin-top: -28px;
    text-align: left;
  }
}
.footer-subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
@media screen and (min-width: 1600px) {
  .footer-subscription__title {
    margin-bottom: 20px;
  }
}
.footer-subscription__container {
  margin-top: 20px;
}
@media screen and (min-width: 1600px) {
  .footer-subscription__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscription__label {
    display: block;
  }
}
.footer-subscription__input {
  min-width: 290px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);
  color: var(--light-color);
  line-height: 1.25em;
  letter-spacing: 0.03em;
}
.footer-subscription__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__input:not(::-moz-placeholder-shown) {
  background-color: var(--light-color);
  color: var(--hover-color);
}
.footer-subscription__input:not(:-ms-input-placeholder-shown) {
  background-color: var(--light-color);
  color: var(--hover-color);
}
.footer-subscription__input:not(::placeholder-shown) {
  background-color: var(--light-color);
  color: var(--hover-color);
}
@media screen and (min-width: 480px) {
  .footer-subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.menu {
  margin-top: 60px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .menu {
    max-width: 1200px;
    margin: 94px auto 50px;
  }
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}
@media screen and (min-width: 768px) {
  .menu-list {
    flex-wrap: nowrap;
  }
}
.menu-list__item {
  margin-bottom: 15px;
}
.menu-list__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1600px) {
  .menu-list__item {
    background-color: var(--button-color);
    border-radius: 4px;
  }
}

.button-menu__text {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
}

.button-menu__text:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--light-color);
}

.button-menu__text:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--light-color);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
  }
}
@media screen and (min-width: 1600px) {
  .portfolio-list {
    text-align: left;
  }
}
.portfolio-list__item {
  margin-bottom: 30px;
  background-color: var(--light-color);
  border: 1px solid #eeeeee;
  text-align: left;
  background-size: contain;
  outline: 2px solid tomato;
}
.portfolio-list__item:hover {
  background: var(--light-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__item:hover .portfolio-list--hover {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 0 15px 30px;
  }
}
@media screen and (min-width: 1600px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.portfolio-list__image {
  position: relative;
}
.portfolio-list__title {
  margin: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.portfolio-list__text {
  margin: 0 24px 20px;
  line-height: 1.88em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1600px) {
  .portfolio-list__text {
    margin: 0 24px 20px;
  }
}
.portfolio-list--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.portfolio-list--hover-text {
  font-size: 18px;
  line-height: 1.55em;
  color: var(--light-color);
  opacity: 1;
}
@media screen and (min-width: 480px) {
  .portfolio-list--hover-text {
    margin: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list--hover-text {
    margin: 49px 24px;
  }
}
@media screen and (min-width: 1600px) {
  .portfolio-list--hover-text {
    margin: 63px 24px;
  }
}

.modal-section {
  position: fixed;
  top: 93px;
  left: 15px;
  right: 15px;
  min-width: 290px;
  padding: 40px;
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal-section {
    left: 15px;
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal-section {
    top: 208px;
    left: 159px;
  }
}
@media screen and (min-width: 1600px) {
  .modal-section {
    left: 50%;
    transform: translate(-50%);
    top: 221px;
    width: 528px;
    height: 581px;
  }
}
.modal-section__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1600px) {
  .modal-section__title {
    line-height: 1.15em;
  }
}

.modal {
  margin-top: 12px;
}
.modal__list {
  list-style: none;
  text-align: left;
}
.modal__list-item {
  margin-bottom: 10px;
}
.modal__subtitle {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.modal__label {
  position: relative;
}
.modal__label:hover .modal-section-icon {
  fill: #2196f3;
}
.modal__label:hover .modal-input {
  border: 1px solid #2196f3;
}
.modal__label:focus {
  border: 1px solid #2196f3;
}
.modal__label:focus-within .modal-section-icon {
  fill: #2196f3;
}
.modal__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 0;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.modal__input:-moz-placeholder-shown .modal-label {
  color: var(--hover-color);
}
.modal__input:-ms-input-placeholder .modal-label {
  color: var(--hover-color);
}
.modal__input:placeholder-shown .modal-label {
  color: var(--hover-color);
}
@media screen and (min-width: 480px) {
  .modal__input {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .modal__input {
    width: 448px;
  }
}
.modal__input-textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.modal__icon {
  position: absolute;
  top: 10%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.signature {
  margin-bottom: 30px;
}
.signature__checkbox {
  margin-right: 7px;
}
.signature__icon {
  width: 16px;
  height: 18px;
  margin-left: -25px;
}
.signature--check {
  width: 11px;
  height: 19px;
  margin-left: -17px;
}
.signature__agreement {
  position: relative;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1600px) {
  .signature__agreement {
    font-size: 14px;
    line-height: 1.71em;
  }
}
.signature__contract {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hover-color);
}

.close {
  position: absolute;
  top: 8px;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .close {
    margin: 0;
    left: 412px;
  }
}
@media screen and (min-width: 1600px) {
  .close {
    left: 490px;
  }
}
.close:hover {
  fill: var(--hover-color);
}
.close__icon {
  position: absolute;
  top: 117px;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  color: #000000;
}
@media screen and (min-width: 480px) {
  .close__icon {
    top: 50%;
    left: 50%;
  }
}/*# sourceMappingURL=main.css.map */