.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  font-family: var(--secondary-font);
  color: var(--hover-color);
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  @media screen and (min-width: 1600px) {
    margin-top: 24px;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 1.19em;
  }

  &--light {
    color: var(--light-color);
  }

  &--black {
    color: #000000;
  }
}

.header__logo {
  // margin-right: 295px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1600px) {
  }
}

.footer__logo {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1600px) {
    margin-bottom: 30px;
    text-align: left;
  }
}
