body {
  margin: 0;
  font-family: var(--main-font), var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.03px;
  color: var(--accent-color);
  text-align: center;
}
