.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    // margin: 0 auto;
    align-items: center;
    outline: 2px solid tomato;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}

.section {
  // margin: 60px auto 0;
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (min-width: 1600px) {
    margin: 94px auto 0;
  }
}
