:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
  --light-color: #ffffff;
  --hover-color: #2196f3;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
}
