.benefits-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0;
    margin-bottom: -30px;
  }

  &__item {
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 0 15px 0;
    }
    @media screen and (min-width: 1600px) {
      flex-basis: calc((100% - 8 * 15px) / 4);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    margin: 30px 0 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;
    color: var(--accent-color);
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71em;
    text-align: left;
    color: var(--secondary-color);
  }

  &__icon-section {
    background-color: var(--button-color);
    height: 120px;
    border-radius: 4px;
  }

  &__icon {
    margin: 25px auto;
    width: 70px;
    height: 70px;
    background-size: contain;
    @media screen and (min-width: 480px) {
      margin: 25px 190px;
    }
    @media screen and (min-width: 768px) {
      margin: 25px 142px;
    }
    @media screen and (min-width: 1600px) {
      margin: 25px 100px;
    }
  }
}
