.command {
  min-width: 320px;
  background-color: var(--button-color);
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
    margin: 94px auto;
  }
}

.command-section {
  padding: 60px 15px;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1600px) {
    padding: 94px 15px;
  }

  &__caption {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    line-height: 1.18em;
    color: var(--accent-color);
    @media screen and (min-width: 768px) {
      padding: 0;
    }
    @media screen and (min-width: 1600px) {
      font-size: 36px;
      line-height: 1.17em;
    }
  }
}

.command-list {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -30px -30px;
    padding: 0 15px;
  }
  @media screen and (min-width: 1600px) {
    padding: 0;
    flex-wrap: nowrap;
    margin: 50px -15px 0;
  }

  &__item {
    margin-bottom: 30px;
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 0 15px 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1600px) {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
    color: var(--accent-color);
    margin: 30px auto 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
    color: var(--secondary-color);
    background-color: #ffffff;
    margin: 0 auto;
  }

  &__icon-list {
    justify-content: center;
    margin: 16px auto 0;
    padding-bottom: 24px;
    @media screen and (min-width: 1600px) {
      padding-bottom: 30px;
    }
  }
}
