.footer {
  min-width: 320px;
  background-color: var(--footer-color);
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1600px) {
    width: 1200px;
    margin: 60px auto 0;
  }

  &__container {
    padding: 60px 15px;
    @media screen and (min-width: 768px) {
      display: block;
    }
    @media screen and (min-width: 1600px) {
      display: flex;
    }
  }

  &__action-container {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__logo {
    margin-top: 0;
    margin-bottom: 20px;
    @media screen and (min-width: 1600px) {
      text-align: left;
    }
  }
}

.footer-section {
  @media screen and (min-width: 768px) {
    margin-left: 76px;
  }
  @media screen and (min-width: 1600px) {
    margin-left: 0;
  }
}

.footer-adress {
  width: 232px;
  margin: 0 auto;
  @media screen and (min-width: 1600px) {
    text-align: left;
  }

  &__text {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71em;
    color: rgba(255, 255, 255, 0.6);
    &:first-child {
      color: var(--light-color);
    }
    &:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: 1600px) {
        margin-bottom: 9px;
      }
    }
  }
}

.footer-action {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 5px;
    margin-left: 165px;
  }
  @media screen and (min-width: 1600px) {
    margin: 15px 93px 0 70px;
  }

  &__icon-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  &__icon-item:hover {
    background-color: var(--hover-color);
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    @media screen and (min-width: 1600px) {
      margin-bottom: 20px;
      text-align: left;
    }
  }
}

.footer-subscription {
  margin-top: 60px;
  @media screen and (min-width: 1600px) {
    margin-top: -28px;
    text-align: left;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    @media screen and (min-width: 1600px) {
      margin-bottom: 20px;
    }
  }

  &__container {
    margin-top: 20px;
    @media screen and (min-width: 1600px) {
      display: flex;
    }
  }

  &__label {
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__input {
    min-width: 290px;
    height: 50px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-color);
    color: var(--light-color);
    line-height: 1.25em;
    letter-spacing: 0.03em;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
    &:not(::placeholder-shown) {
      background-color: var(--light-color);
      color: var(--hover-color);
    }
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1600px) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
}
