.hero {
  min-width: 320px;
  outline: 2px solid tomato;
  background-size: cover;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
    margin: 0 auto;
  }

  &__section {
    background-size: cover;
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/index/hero-mobile.jpg');
    @media (min-device-pixel-ratio: 2) and (max-width: 767px),
      (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
      (min-resolution: 192dpi) and (max-width: 767px),
      (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/index/hero-mobile@2x.jpg');
    }

    @media screen and (min-width: 768px) {
      padding: 118px 204px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/index/hero-tablet.jpg');
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/index/hero-tablet@2x.jpg');
    }

    @media screen and (min-width: 1600px) {
      padding: 200px 452px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/index/hero-desktop.jpg');
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 1600px),
      (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
      (min-resolution: 192dpi) and (min-width: 1600px),
      (min-resolution: 2dppx) and (min-width: 1600px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/index/hero-desktop@2x.jpg');
    }
  }

  &__caption {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    @media screen and (min-width: 1600px) {
      font-size: 44px;
      line-height: 1.36em;
    }
  }

  &__button {
    margin-top: 30px;
  }
}
